# Pandas

In [3]:
import numpy as np
import pandas as pd

## Series (Seriler)

In [4]:
benimSozlugum = {"Atıl" : 50, "Zeynep" : 40, "Mehmet" : 30}

In [5]:
pd.Series(benimSozlugum)

Atıl      50
Zeynep    40
Mehmet    30
dtype: int64

In [6]:
benimYaslarim = [50, 40, 30]

In [7]:
benimIsimlerim = ["Atıl", "Zeynep", "Mehmet"]

In [8]:
pd.Series(benimYaslarim)

0    50
1    40
2    30
dtype: int64

In [9]:
pd.Series(benimIsimlerim)

0      Atıl
1    Zeynep
2    Mehmet
dtype: object

In [10]:
pd.Series(benimYaslarim, benimIsimlerim)

Atıl      50
Zeynep    40
Mehmet    30
dtype: int64

In [11]:
pd.Series(data=benimYaslarim, index= benimIsimlerim)

Atıl      50
Zeynep    40
Mehmet    30
dtype: int64

In [12]:
numpyDizisi = np.array([50, 40, 30])

In [13]:
numpyDizisi

array([50, 40, 30])

In [14]:
pd.Series(numpyDizisi)

0    50
1    40
2    30
dtype: int64

In [15]:
pd.Series(numpyDizisi, benimIsimlerim)

Atıl      50
Zeynep    40
Mehmet    30
dtype: int64

In [18]:
pd.Series(["Atıl", "Atlas", "Osman"], [1, 2, 3])

1     Atıl
2    Atlas
3    Osman
dtype: object

In [19]:
yarismaSonucu1 = pd.Series([10, 5, 1], ["Atıl", "Atlas", "Osman"])

In [20]:
yarismaSonucu1

Atıl     10
Atlas     5
Osman     1
dtype: int64

In [21]:
yarismaSonucu2 = pd.Series([20, 10, 8], ["Atıl", "Atlas", "Osman"])

In [22]:
yarismaSonucu2

Atıl     20
Atlas    10
Osman     8
dtype: int64

In [24]:
yarismaSonucu1["Atlas"]

5

In [26]:
yarismaSonucu2["Atlas"]

10

In [27]:
sonSonuc = yarismaSonucu1 + yarismaSonucu2

In [28]:
sonSonuc

Atıl     30
Atlas    15
Osman     9
dtype: int64

In [29]:
birinciSeries = pd.Series([20, 30, 40, 50], ["a", "b", "c", "d"])

In [30]:
ikinciSeries = pd.Series([10, 5, 3, 1], ["c", "d", "e", "f"])

In [31]:
toplamSeries = birinciSeries + ikinciSeries

In [32]:
toplamSeries

a     NaN
b     NaN
c    50.0
d    55.0
e     NaN
f     NaN
dtype: float64